@font-face {
    font-family: 'IR';
    src: url(../../public/assets/fonts/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: 'ISB';
    src: url(../../public/assets/fonts/Inter_18pt-SemiBold.ttf);
}