@import 'fonts';
@import 'libs/normalize';

.container{
    width: 1440px;
    margin: auto;

    .profile.active{
        display: block;
    }
    .profile.unactive{
        display: none;
    }
    .wrapper{
        margin: auto;
        width: 1140px;
        margin-top: 50px;
        background-color: #CAF0F8;
        padding: 40px 40px 0 40px;
    }
    .feedback.active{
        display: block;
    }
    .feedback.unactive{
        display: none;
    }
}

@media (max-width: 744px){
    .container{
        width: 744px;

        .wrapper{
            width: 644px;
            padding: 20px 30px 0 30xp;
        }
    }
}

@media (max-width: 390px){
    .container{
        width: 390px;

        .wrapper{
            width: 360px;
            padding: 10px 10px 0 10px;
        }
    }
}